{% extends 'calorie/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Profile</h1>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">User Details</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                <li class="list-group-item"><strong>First Name:</strong> {{ user.first_name }}</li>
                <li class="list-group-item"><strong>Last Name:</strong> {{ user.last_name }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
